* {
    font-family: 'A Shekari';
    font-size: 24px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #62B6B7 !important;
}

.insideForm {
    width: 100% !important;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

label {
    width: 18%;
}

.colorNav {
    background-color: #2f7a78;
}

th {
    background-color: #97DECE !important;
}

.table-striped tr:nth-child(even) {
    --bs-table-bg: #CBEDD5 !important;
}
